{% block body %}
<div class="card col-lg-8">
    <h1>Produtos</h1>
    <table class="table">
        <thead>
            <tr>
                <th class="text-left align-middle" scope="col">Nome</th>
                <th class="text-center align-middle" scope="col">Quantidade</th>
                <th class="text-right align-middle" scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td class="text-left align-middle">{{produto.nome}}</td>
                <td class="text-center align-middle">{{produto.quantidade}}</td>
                <td class="text-right align-middle">R$ {{produto.preco}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}