{% extends 'base.html' %}
{% load static%}

{% block body %}

<div class="card-deck m-2">
    <div class="col-lg-4 col-md-6">
        <div class="card m-3">
            <div class="card-body">
                <div class="text-center">
                    <h4 class="card-title">Card</h4>
                    <p class="text-warning font-weight-bold">Carrinho/Explorar</p>
                </div>
                <p class="card-text text-center">Esse item serve para fazer estilos dos itens a se comprar</p>
            </div>
        </div>
    </div>
</div>

{% endblock body %}