{% load static %}

<!DOCTYPE html>
<html lang='pt'>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Informatheus
        {%endblock%}
    </title>
    <link rel='stylesheet' type='text/css' href="{% static 'css/all.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/bootstrap.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/styles.css' %}">

</head>

<header>
    <nav class="navbar navbar-light bg-light navbar-expand-md">
        <div class="container">
            <a class="navbar-brand nav-item active" href="{% url 'cards:index' %}">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
                aria-expanded="false" aria-label="Botao de navegacao">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <div class="navbar-nav mr-auto">       
                    <a class="nav-link nav-item" href="{% url 'produto:index' %}">Explorar</a>
                    <a class="nav-link nav-item" href="{% url 'produto:cadastro' %}">Cadastro</a>
                    <a class="nav-link nav-item" href="{% url 'carrinho:index' %}">
                        <img src="{% static 'images/carrinho.svg' %}" alt="carrinho" style="width: 1.7rem;">
                        <span id="car-items" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary" style="display: none">  
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>

<body class="barra">
    <div class="container">
        {% block body %}
            404 Page Not Found
        {% endblock %}    
    </div>
    <script src={% static 'js/jquery-3.3.1.js' %}></script>
    <script src={% static 'js/popper.js' %}></script>
    <script src={% static 'js/bootstrap.js' %}></script>
    <script src={% static 'js/script.js' %}></script>
    <script>
        $(document).ready(function(){
            
            {% block domready %}
            {% endblock %}
        });
    </script>
</body>
<footer>
    {% block footer %}
        <hr>
            <div class="d-flex flex-column align-self-center font-weight-bold mb-4 ml-5 mr-5">
                <item class="p-2">Ciencia da Computação - UFF</item>
                <item class="p-2"> Niterói - RJ </item>
            </div>
    {% endblock %}
</footer>
</html>