{% load static %}

<!DOCTYPE html>
<html lang='pt'>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Informatheus
        {%endblock%}
    </title>
    <link rel='stylesheet' type='text/css' href="{% static 'css/all.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/bootstrap.css' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'css/styles.css' %}">

</head>

<header>
    <nav class="navbar navbar-light bg-light navbar-expand-md">
        <div class="container">
            <a class="navbar-brand nav-item active" href="{% url 'cards:index' %}">Inicio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
                aria-expanded="false" aria-label="Botao de navegacao">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <div class="navbar-nav mr-auto">       
                    <a class="nav-link nav-item" href="{% url 'produto:index' %}">Explorar</a>
                    <a class="nav-link nav-item" href="{% url 'cadastro' %}">Cadastro</a>
                    <a class="nav-link nav-item" href="{% url 'carrinho:index' %}">
                        <img src="{% static 'images/carrinho.svg' %}" alt="carrinho" style="width: 1.7rem;">
                        <span id="car-items" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary" style="display: none">  
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>

<body class="barra">
    <div class="container">
        {% block body %}
            404 Page Not Found
        {% endblock %}    
    </div>
    <script src={% static 'js/jquery-3.3.1.js' %}></script>
    <script src={% static 'js/popper.js' %}></script>
    <script src={% static 'js/bootstrap.js' %}></script>
    <script src={% static 'js/script.js' %}></script>
    <script>
        $(document).ready(function(){
            
            {% block domready %}
                $('.comprar').click(function(){
                    this.blur();
                    let botao_comprar = this;
                    let input = $(botao_comprar).prev();
                    let prodid = $(input).prev();
                    let csrf = $(prodid).prev();
                    let form = $(csrf).prev();
                    input.find("input[name='quantidade']").val(1);
                    let url = form.attr('action');
                    let formData = form.serializeArray();
                    $.post(url, formData, function(response){
                        $(botao_comprar).fadeTo('fast', 0.3, function(){
                            $(botao_comprar).hide();
                            input.show();
                        });
                    });
                });

                $(".mais").click(function() {
                    this.blur();
                    var input = $(this).parent().prev();
                    var num = +input.val() + 1
                    if ( num < 100){
                        input.val(num);
                        let form = $(this).parent().parent().prev().prev().prev();
                        let url = form.attr('action');
                        let formData = form.serializeArray();
                        $.post(url, formData, function(response){
                            console.log('+ clicked');
                        });
                    }
                    else{
                        return;
                    }
                });

                $(".menos").click(function() {
                    this.blur();
                    let infos = $(this).parent().parent();
                    var input = $(this).parent().next();
                    console.log(input);
                    var num = +input.val() - 1;
                    if(num < 0){
                        num = 0;
                    }
                    input.val(num);
                    let form = $(this).parent().parent().prev().prev().prev();
                    let botao_comprar = $(this).parent().parent().next();
                    let url = form.attr('action');
                    let formData = form.serializeArray();
                    $.post(url, formData, function(response){
                        if( num == 0 ){
                            $(infos).hide();
                            $(botao_comprar).fadeTo('fast', 1);
                        }
                    });
                });

            {% endblock %}
        });
    </script>
</body>
<footer>
    {% block footer %}
        <hr>
            <div class="d-flex flex-column align-self-center font-weight-bold mb-4 ml-5 mr-5">
                <item class="p-2">Ciencia da Computação - UFF</item>
                <item class="p-2"> Niterói - RJ </item>
            </div>
    {% endblock %}
</footer>
</html>