{% extends 'base.html' %}
{% load static %}

{% block title %}
    Controle de Produtos
{% endblock title %}

{% block body %}
    <br>
    <div id='form'>
    </div>
    <br>
    <div id='tabela'>
    </div>
    <br>

{% endblock body %}

{% block domready %}

    $.get("{% url 'produto:cadastra_produto' %}", function(response) {
        $("#form").html(response);
    })

    $.get("{% url 'produto:lista_produtos' %}", function(response) {
        $("#tabela").html(response);
    })
{% endblock domready %}