{% extends 'base.html' %}
{% load static %}

{% block title %}
    Produtos
{% endblock title %}

{% block body %}
    <div id="toast-compra" class="toast align-items-center fixed-bottom m-3" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
        <div class="d-flex justify-content-between">
            <div class="toast-body">
                Item adicionado ao carrinho.
            </div>
            <button type="button" class="btn-close ml-auto my-auto mr-2 p-0" data-bs-dismiss="toast" aria-label="Close">
                <img src="./assets/images/close-btn.png" alt="..." style="width: 1.2rem; background-color: rgb(62, 201, 62);">
            </button>
        </div>
    </div>
    <div id="mouses">
        <h1 class="title">Produtos</h1>
        <table>
            <tbody>
                {% for produto in produtos %}
                <div class="item">
                    <div class="card shop-item">
                        <div class="d-flex justify-content-between">
                            <p class="font-weight-bold text-danger text-justify">{{produto.desconto}}%</p>
                            <div id="likedislike">
                                <a id="{{produto.id}}btnlike" class="btnlike">
                                    <i class="far fa-thumbs-up"></i>
                                    <span id="{{produto.id}}like">1</span>        
                                </a>
                                <a id="{{produto.id}}btndislike" class="btndislike">
                                    <i class="far fa-thumbs-down"></i>
                                    <span id="{{produto.id}}dislike">0</span>
                                </a>
                            </div>
                        </div>
                        <div id="midlevel">
                            <div class="bgimage">
                                <img src={% static 'images/' %}{{produto.imagem}} alt={{produto.slug}}>
                            </div>
                        </div>
                        <div class="p-3" id="bottomlevel">
                            <span data-toggle="tooltip" title={{produto.nome}}>
                                <p class="mb-0 font-weight-bold overflow-hidden">{{produto.nome}}</p>
                            </span>
                            <p class="mb-0 original"> {{produto.valor}}</p>
                            <p class="mb-0 discount"> {{produto.valorComDesconto}}</p>
                        </div>
                        <div id="buttonlevel" class="d-flex">
                            <button class="btn btn-primary " style="width: 100%;">Comprar</button>
                        </div>
                    </div>
                </div>
                {% endfor %}    
            </tbody>
        </table>
        
    </div>
    <div style="font-size: 14px; margin-bottom:28px">
        {% if produtos.has_other_pages %}
            <ul class="pagination">
                {% if produtos.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?pagina={{produtos.previous_page_number}}">
                            Anterior
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">
                            Anterior
                        </a>
                    </li>
                {% endif %}
                {% for i in produtos.paginator.page_range %}
                    {% if produtos.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="#">
                                {{i}}
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?pagina={{i}}">
                                {{i}}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if produtos.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?pagina={{produtos.next_page_number}}">
                            Próxima
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">
                            Próxima
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endblock body %}