{% extends 'base.html' %}
{% load static %}

{% block title %}
    Produtos
{% endblock title %}

{% block body %}
    <h1 class="title">Produtos</h1>
    <div class="d-flex flex-column-reverse flex-md-column">
        <div class="d-flex flex-column flex-md-row justify-content-center mb-3 ">
            {% for produto, form in listas %}
                <div class="item mb-3 d-flex justify-content-center">
                    <div class="card shop-item">
                        <div class="d-flex justify-content-between">
                            <p class="font-weight-bold text-danger text-justify">{{produto.desconto}}%</p>
                            <div id="likedislike">
                                <a id="{{produto.id}}btnlike" class="btnlike">
                                    <i class="far fa-thumbs-up"></i>
                                    <span id="{{produto.id}}like">1</span>        
                                </a>
                                <a id="{{produto.id}}btndislike" class="btndislike">
                                    <i class="far fa-thumbs-down"></i>
                                    <span id="{{produto.id}}dislike">0</span>
                                </a>
                            </div>
                        </div>
                        <div id="midlevel">
                            <div class="bgimage">
                                <img src={{produto.imagem.url}} alt={{produto.slug}}>
                            </div>
                        </div>
                        <div class="p-3" id="bottomlevel">
                            <span data-toggle="tooltip" title={{produto.nome}}>
                                <p class="mb-0 font-weight-bold overflow-hidden">{{produto.nome}}</p>
                            </span>
                            <p class="mb-0 original"> {{produto.valor}}</p>
                            <p class="mb-0 discount"> {{produto.valorComDesconto}}</p>
                        </div>
                        <div class="card-footer">
                            <form class="form-inline" 
                            style="{% if form.quantidade.value == 0 %} display:none {% endif %}" 
                            method="POST" novalidate
                            action="{% url 'carrinho:atualiza_carrinho'%}"> 
                                {% csrf_token %}
                                {{ form.produto_id }}
                                <div class="input-group w-100">
                                    <div class="input-group-prepend">
                                        <input type="button" class="btn btn-secondary menos" value="-">
                                    </div>
                                    {{ form.quantidade }}
                                    <div class="input-group-append">
                                        <input type="button" class="btn btn-secondary mais" value="+">
                                    </div>
                                </div>    
                            </form>
                            <input type="button" 
                                    class="btn btn-primary comprar w-100"
                                    style="{% if form.quantidade.value > 0 %} display:none {% endif %}"
                                    value="Comprar">
                        </div>
                    </div>
                </div>
            {% endfor %}    
        </div>
        <div style="font-size: 14px; margin-bottom:28px">
            {% if produtos.has_other_pages %}
                <ul class="pagination justify-content-center">
                    {% if produtos.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?pagina={{produtos.previous_page_number}}">
                                Anterior
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">
                                Anterior
                            </a>
                        </li>
                    {% endif %}
                    {% for i in produtos.paginator.page_range %}
                        {% if produtos.number == i %}
                            <li class="page-item active">
                                <a class="page-link" href="#">
                                    {{i}}
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?pagina={{i}}">
                                    {{i}}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if produtos.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?pagina={{produtos.next_page_number}}">
                                Próxima
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">
                                Próxima
                            </a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock body %}

{% block domready %}
    $('.comprar').click(function(){
        this.blur();
        let botao_comprar = this;
        let form = $(botao_comprar).prev();
        form.find("input[name='quantidade']").val(1);
        let url = form.attr('action');
        let formData = form.serializeArray();

        $.post(url, formData, function(response){
            $(botao_comprar).fadeTo('fast', 0.3, function(){
                $(botao_comprar).hide();
                form.show();
            });
        });
    });

    $(".mais").click(function() {
        this.blur();
        var input = $(this).parent().prev();
        var num = +input.val() + 1
        if ( num < 100){
            input.val(num);
            let form = $(this).parent().parent().parent();
            let url = form.attr('action');
            let formData = form.serializeArray();
            $.post(url, formData, function(response){
                console.log('+ clicked');
            });
        }
        else{
            return;
        }
    });

    $(".menos").click(function() {
        this.blur();
        var input = $(this).parent().next();
        var num = +input.val() - 1;
        if(num < 0){
            num = 0;
        }
        input.val(num);
        let form = $(this).parent().parent().parent();
        let botao_comprar = $(form).next();
        let url = form.attr('action');
        let formData = form.serializeArray();
        $.post(url, formData, function(response){
            if( num == 0 ){
                $(form).hide();
                $(botao_comprar).fadeTo('fast', 1);
            }
        });
    });
{% endblock domready %}